.itemList {
    list-style: none;
    padding: 0;
    border: 1px solid;
    border-radius: 10px;

    li {
        padding: 10px;
        border-bottom: 1px solid;

        &:first-child {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }

        &:last-child {
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom: 0;
        }

        &.active {
            background-color: #1D5D9B;
            color: white;
        }
    }
    }
